body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.textnya {
    padding: 10px;
}

.header {
    display: flex;
    width: 100%;
    height: 100px;
    border-radius: 20px;
    background-color: #9EE1FF;
    border-radius: 0;
}

.body {
    display: flex;
    margin: 10px 0;
}

.sidebar {
    width: 15%;
    height: 530px;
    border-radius: 20px;
    border-radius: 0;
}

.nav {
    background-color: #FBE692;
    order: 1;
}

.promo {
    background-color: #78EBA8;
    order: 3;
}

.article {
    width: 70%;
    height: 530px;
    border-radius: 15px;
    background-color: #f2f2f2;
    border-radius: 0;
    margin: 0 10px 0 10px;
    order: 2;
}

.footer {
    width: 100%;
    height: 80px;
    background-color: #C4C2FF;
    border-radius: 0;
}


/* RESPONSIVE PAGE */
@media (max-width: 770px) {
    .body {
        display: flex;
        flex-flow: column;
    }

    .article {
        width: 100%;
        height: 340px;
        margin: 10px 0 10px 0;
    }

    .sidebar {
        width: 100%;
        height: 70px;
    }

    .nav {
        order: 1;
    }

    .promo {
        order: 2;
        margin-top: 10px;
    }

    .article {
        order: 3;
    }

}